* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5%;
  width: 35%;
}

.screen {
  background: rgb(2, 2, 43);
  padding: 20px;
  width: 92.5%;
  color: white;
  font-size: 60px;
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
button {
  flex: 22%;
  font-size: 64px;
  border: 1px solid black;
}

.btn {
  background: orange;
  color: white;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: red;
}
