
body
{
    background-color : yellow ;          
}

.container          /* Container Class*/
{
    /* Giving width, color and allignment of class */
    width : 400px ;
    background-color : black ;
    position : absolute ;
    top : 50% ;
    left : 50% ;
    transform : translateX(-50%) translateY(-50%) ;
    padding : 50px ;
    box-shadow : 10px 10px 5px 0 rgba(0,0,0,0.75);
}

h1                          /*Styling the tag*/
{
    color : red ;
    text-align : center ;
}

p                           /*Styling the Paragraph*/
{
    color : white ;
}

#height , #weight           /*Styling the IDs*/   
{
    width : 100% ;
    height : 35px ;
    outline : none ;
}

button
{
    font-size : 21px ;
    width : 40% ;
    height : 35px ;
    margin-top : 25px ;
    border-radius : 11px ;
    background-color : red ;
    color : white ;
}

#result
{
    color : white ;
    text-align : center;
    margin-top : 20px ;
    font-size : 20px ;
}